#HomeBox1 {
    background: url('../images/sat_images.jpg');
    background-position: top left;
    background-repeat: no-repeat;
}

#HomeBox2 {
    background: url('../images/sat_images.jpg');
    background-position: top ;
    background-repeat: no-repeat;
}

#HomeBox3 {
    background: url('../images/sat_images.jpg');
    background-position: left center;
    background-repeat: no-repeat;

}

#HomeBox4 {
    background: url('../images/sat_images.jpg');
    background-position: left bottom;
    background-repeat: no-repeat;

}

#HomeBox5 {
    background: url('../images/sat_images.jpg');
    background-position: right center;
    background-repeat: no-repeat;

}

#HomeBox6 {
    background: url('../images/sat_images.jpg');
    background-position: bottom;
    background-repeat: no-repeat;

}


#PosX {
    font-size: 84px;
}

#PosY {
    font-size: 84px ;
}


#dot {
    height: 20px;
    width: 20px;
    background-color: white;
    border-radius: 10px;
    animation: moveRight 3s linear infinite;
}

#dot2 {
    height: 20px;
    width: 20px;
    background-color: white;
    /* border-radius: 10px; */
    position:absolute;
    transform: translate(100%, 100%) rotate(20deg);

    /* animation: moveLeft 3s linear infinite; */
}

@keyframes moveRight{
    100%{transform: translateX(+1024px);}
}
@keyframes moveLeft{
    100%{transform: translateX(-1024px);}
}

#MovableBox {
}

#NamesHead{
    font-size: 50px;
    justify-content: center;
}